* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;;
  max-width: 100%;
}

:root {
  --font-xs: 0.75rem;
  --font-sm: 0.95rem;
  --font-md: 1.05rem;
  --font-lg: 1.2rem;
  --font-xl: 1.4rem;
  --gray-mid: rgb(128, 128, 128);
  --gray-lt: rgb(238, 238, 238);
  --font-semibold: 300;
  --font-bold: 800;
  --main-color: rgb(29, 155, 240);
}

body {
  overflow: scroll;
  background-color: #fcfcfc;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: var(--font-md);
}

ul {
  list-style-type: none;
}

.fat {
  font-weight: 500;
}

.interact {
  cursor: pointer;
}

.container {
  margin: auto;
  background-color: white;
  width: 100%;  
  border: 1px solid rgba(0,0,0,0.08);
}

.header {
  display: none;
  margin-right: 1rem;
  margin-left: 1rem;
}
.info {
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
}

.info > p {
  margin-left: 1rem;
}

.sub {
  font-size: var(--font-xs);
  font-weight: var(--font-semibold);
  color: var(--gray-mid);
  margin-top: 2px;
}

.sub.big {
  font-size: var(--font-md);
}

.header-img {
  object-fit: fill;
  min-width: 100%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.picture-container {
  width: 65%;
  height: 65%;
  margin-left: 1rem;
  margin-top: -6%;
}

.picture {
  width: 42%;
  height: 42%;
  border-radius: 100%;
  border: 2px solid white;
}

.contact {
  background-color: black;
  color: white;
  font-size: var(--font-lg);
  height: 2rem;
  width: 6rem;
  border-radius: 2rem;
  padding: 6px;
  text-align: center;
  font-weight: var(--font-bold);
  margin: 4%;
}

.description-container {
  margin: 0.8rem;
  padding: 0.3rem;
}

.description-container > p {
  font-size: var(--font-sm);
  font-weight: 400;
}

.tabs-container {
  position: sticky;
  top: -2px;
  margin: 0.2rem;
  background-color: white;
  margin-bottom: -32px;
  border-bottom: 1px solid var(--gray-lt);
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--gray-mid);
}

.tab {
  padding: 0.4rem;
  width: 25%;
  height: 2.4rem;
  text-align: center;
}

.tab:hover {
  background-color: rgb(240, 240, 240);
}

.selected {
  color: black;
  border-bottom: 3px solid var(--main-color);
}

.tab-content {
  display: none;
}

.show {
  display: block;
}

.content-box {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem;
  border-bottom: 1px solid var(--gray-lt);
}

.content-header {
  font-size: var(--font-sm);
  padding: 2px 10px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.content-picture {
  width: 12%;
  height: 12%;
  border-radius: 100%;
  margin: 0.2rem;
}

.content-info {
  display: flex;
  flex-direction: column;
  font-size: var(--font-md);
  margin: 0.2rem 0.8rem;
}

.project-info {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: var(--font-sm);
}

.project-image {
  width: 80%;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0,1);
  margin: auto;
}

.info-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 0.4rem;
}

.info-header > p {
  margin-right: 0.2rem;
}

.content-image {
  border: 2px solid var(--gray-lt);
  border-radius: 10px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 6px;
}

.link {
  display: flex;
}

.link > img {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.8rem;
}

.skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-box {
  height: 3rem;
  width: auto;
  /* background-color: var(--main-color); */
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  padding: 0.8rem;
  /* color: white; */
  border-radius: 10px;
  font-size: var(--font-md);
  font-weight: var(--font-bold);
}

.contacts {
  justify-content: start;
}

.pages > div {
  padding-top: 25px;
}

iframe {
  margin: auto;
}

@media (min-width: 520px) {
  .container {
    width: 100%;
  }

  .header {
    display: block;
    font-size: var(--font-lg);
    font-weight: var(--font-bold);
  }

  .picture-container {
    width: 55%;
    height: 55%;
  }

  .tabs {
    font-size: var(--font-lg);
  }

  .description-container {
    font-size: var(--font-md);
  }

  .content-picture {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    margin: 0.4rem;
  }

  .content-info {
    font-size: var(--font-md);
  }


  .pages {
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  .container {
    width: 66%;
  }

  .tabs-container {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }


  .project-info {
    font-size: var(--font-lg);
  }

}

@media (min-width: 1024px) {
  .container {
    width: 50%;
  }

  .contact {
    padding: 6px;
    margin: 1.1rem 2rem;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 44%;
  }


  .contact {
    height: 3rem;
    width: 8rem;
    padding: 10px;
    margin: 1.4rem 5rem;
  }

  #contact-btn {
    font-size: var(--font-xl);
  }
}

@media (min-width: 1536px) {
  .container {
    width: 38%;
  }

}

#js {
  background-color: #f0db4f;
  color: #323330;
}

#html {
  background-color: #e34c26;
  color: #fff;
}

#css {
  background-color: #0f5298;
  color: #fff;
}

#react {
  background-color: #2a2c2e;
  color: #61dafb;
}

#redux {
  background-color: #764abc;
  color: #fff;
}

#chakra {
  background: linear-gradient(#2abfb3,#4ac9be);
  color: #fff;
}

#tailwind {
  background: linear-gradient(90deg, #04b0cd, #13bfb1);
  color: #4c4c4c;
}

#bootstrap {
  background-color: #563d7c;
  color: #fff;
}

#material {
  background:linear-gradient(90deg, #00b0ff, #0081cb);
  color: #fff;
}

#node {
  background-color: #68a063;
  color: #303030;
}

#express {
  background-color: rgb(230, 230, 230);
  color: #000;
}

#mongo {
  background-color: #10aa50;
  color: #3d3c40;
}

#matter {
  background-color: #ed5c5c;
  color: #49525f;
}

#python {
  background-color: #3674a7;
  color: #ffce41;
}
